@import "variables";

#footer ul
{
  display: flex;
  justify-content: space-evenly;
  height: $footerHeight;
  border: 1px solid gray;
  margin: $globalMargin;
  .A
  {
    color: $colorFont;
    font-family: $font;
    font-size: $fontMedium;
  }
}