@import "variables";

.header ul
{
  display: flex;
  justify-content: space-evenly;
  height: $headerHeight;
  border: 1px solid gray;
  margin: $globalMargin;
  
  .A
  {
    font-family: $font;
    font-size: $fontMedium;
    color: $fontColor;
  }
}

