@import "variables";

.header ul
{
  display: flex;
  justify-content: space-evenly;
  height: $headerHeight;
  border: 1px solid gray;
  margin: $globalMargin;
  
  .A
  {
    font-family: $font;
    font-size: $fontMedium;
    color: $fontColor;
  }
}

@media screen and (max-width: 2024px)
{
  .main
  {
    margin: 25vh;
  }
}

@media screen and (max-width: 1024px)
{
  .main
  {
    margin: 10vh;
  }
}

@media screen and (max-width: 612px)
{
  .main
  {
    margin: 0vh;
    margin-top: 15vh;
  }
}
